# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [2]:
(50*2)+(50/2)-25+(3**2)-9+0,25

(100.0, 25)

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [4]:
100**(1/2)

10.0

In [5]:
100**0.5

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [6]:
100**2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [8]:
s = 'hello'

In [10]:
s[1]

'e'

In [11]:
s[::-1]

'olleh'

In [12]:
s[4]

'o'

In [15]:
s[4:]

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [16]:
mi_lista= [0,0,0]

In [17]:
mi_lista

[0, 0, 0]

In [51]:
mi_lista2= mi_lista
mi_lista2

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [1]:
lista = [1,2,[3,4,'hello']]
lista[2][2]

'hello'

In [2]:
lista[2][2]"goodbye"

SyntaxError: invalid syntax (4263783351.py, line 1)

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [ ]:
listaSinOrdenar = [5,3,4,6,1]

In [23]:
listaSinOrdenar = [5,3,4,6,1]
listaSinOrdenar.sort()
listaSinOrdenar

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [32]:
f = {'k1':{'k2':'hello'}}

In [78]:
f["k1"]["k2"]

'hello'

In [82]:
d = {'key1':'hello'}

In [83]:
d["key1"]

'hello'

In [106]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [112]:
g ["k1"][0]["o1"][1][0]

'hello'

In [94]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [113]:
h["k1"][2]["k2"][1]["dificil"][2][0]

'hello'

#### 9.- Crea una tupla (1 pto)

In [36]:
t= (1,2,3)
t

(1, 2, 3)

In [39]:
type(t)

tuple

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [ ]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [37]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]
set(listaDuplicada)

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [41]:
a = True
type(a)

bool

In [44]:
# 2 mayor que 3 
2>3

False

In [46]:
# 3 igual que 2
3==2

False

In [47]:
# raíz cuadrada de 4 no es igual a 2
4**(1/2)!=2

False

In [48]:
6>5 and 7<8

True

In [ ]:
nombre = "Pepito" 
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [49]:
len ("nombre")==len ("colores") or len("nombre")<7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [114]:
mi_archivo=open("tabla-nombres.txt","a+")
mi_archivo.write("Nombre\tApellidos\tEdad\tMascotas\n")
mi_archivo.write("Angela\tHernandez\t21\tperro\n")
mi_archivo.write("Eva\tOlmo\t20\tgato\n")
mi_archivo.write("Adriana\Gimenez\t21\tpajaro\n")

26

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [125]:
diccionario = {"Rattus": ["nover gicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]}
diccionario

{'Rattus': ['nover gicus', 'rattus'],
 'Glaucidium': ['brasilianum', 'hoskinsii', 'californicum', 'minutissimum'],
 'Echinocactus': ['grusonii'],
 'Opuntia': [1]}

In [127]:
lista= list(diccionario.keys())
lista

['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [130]:
lista=lista + ["hola"]+["olé"]
lista

['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia', 'hola', 'olé']

In [131]:
x=set(lista)
type (x)

set